body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	font-family: "Spartan", sans-serif;
	position: relative;
}

.top-image {
	position: absolute;
	top: 0;
	left: 0;
	content: url(./images/bg-pattern-top-desktop.svg);
}
.bottom-image {
	position: absolute;
	bottom: 0;
	right: 0;
	content: url(./images/bg-pattern-bottom-desktop.svg);
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 70vw;
	color: hsl(300, 43%, 22%);
}

.header-left {
	width: 44%;
}

.heading {
	font-size: 50px;
	font-weight: bold;
}

.heading-text {
	margin-top: 1rem;
	font-size: 15px;
	line-height: 1.3rem;
	font-weight: 500;
}

.header-right {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.rating {
	display: flex;
	align-items: center;
	background-color: hsl(300, 24%, 96%);
	width: 380px;
	padding: 1rem;
	border-radius: 5px;
	margin-bottom: 15px;
}
.stars {
	margin-left: 1rem;
}

.rating > p {
	margin-left: 1rem;
	font-size: 0.8rem;
	font-weight: 800;
}

.rating-2 {
	margin-left: 5rem;
}
.rating-3 {
	margin-left: 10rem;
}

.containers {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 3.3rem;
	width: 70vw;
}

.container {
	background-color: hsl(300, 43%, 22%);
	width: 22vw;
	height: 230px;
	border-radius: 5px;
}
.container-2 {
	position: relative;
	top: 1.2rem;
}
.container-3 {
	position: relative;
	top: 2.4rem;
}

.buyer-header {
	display: flex;
	align-items: center;
	padding: 2rem 2rem 1.3rem 2rem;
}

.buyer-header > img {
	border-radius: 50%;
	width: 50px;
}
.buyer-info {
	margin-left: 1.2rem;
	font-size: 13px;
}

.buyer-name {
	color: white;
}

.buyer-title {
	color: hsl(333, 80%, 67%);
	margin-top: 5px;
	font-weight: 700;
}

.buyer-comment {
	padding: 0 2rem;
	color: hsl(300, 24%, 96%);
	font-size: 12px;
	line-height: 20px;
	font-weight: 600;
}

.attribution {
	margin-top: 100px;
}

@media screen and (max-width: 600px) {
	.top-image {
		content: url(./images/bg-pattern-top-mobile.svg);
	}
	.bottom-image {
		content: url(./images/bg-pattern-bottom-mobile.svg);
	}
	header {
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 90vw;
		margin-top: 70px;
		text-align: center;
	}
	.header-left {
		width: 100%;
	}

	.rating {
		flex-direction: column;
		width: 80vw;
	}
	.stars {
		margin-left: 0;
	}

	.rating > p {
		margin-top: 5px;
		margin-left: 0;
	}

	.rating-1 {
		margin-top: 20px;
	}
	.rating-2 {
		margin-left: 0;
	}
	.rating-3 {
		margin-left: 0;
		margin-bottom: 0;
	}
	.containers {
		flex-direction: column;
		width: 80vw;
	}

	.container {
		width: 100%;
	}
}
